body{
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0px;
}

#bold{
    font-weight: bold;
}

.shortDescription{
    background-color: #ececec;
    padding: 1em;
}

#titles{
    background-color: #013220;
    color: white;
    text-align: center;
}

#questionsList{
    background-color: black;
    color: white;
    padding: 1em;
    margin-top: 2em;
    margin-right: 2em;
    margin-left: 2em;
    border-radius: 15px;
}

.questListFont{
    font-size: 28px;
}